<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--安森-->
        <add key="iot.sxycyt.net"  value="5757-5759"/>
        <add key="RootAnSen"  value="C:\projects\YCIOT-2020\ModbusPoll"/>
        <add key="AnSenEnable"  value="true"/>
        <!--延长-->
        <add key="39.102.46.137"   value="502-505"/>
        <add key="RootYanChang"  value="C:\Projects\YCIOT-2020\RtuOverTcp"/>
        <add key="YanChangEnable"  value="true"/>

        <add key="TargetDir"  value="D:\"/>
        <add key="UnzipToDir"  value="overtcp"/>

        <add key="modbusRoot"  value="D:\project\jiupai\ModbusPoll\src\YCIOT.ModbusPoll.RtuOverTcp"/>
        <add key="jobRoot"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.SubCenter\Executor\YCBZ_V2.Job"/>

        <add key="datawriterRoot"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.SubCenter\Executor\YCBZ_V2.DataProcess"/>

        <add key="v2Root"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.SubCenter\YCBZ_V2.Service"/>

        <add key="web"  value="D:\project\jiupai\YCBZ_V2\src\YCBZ_V2\YCBZ_V2.SubCenter"/>

        <add key="app"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.App\YCBZ_V2.App.Server"/>

        <add key="jobRoot_c"         value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.Center\YCBZ_V2.Center.Executor\YCBZ_V2.Center.Job"/>
        <add key="datawriterRoot_c"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.Center\YCBZ_V2.Center.Executor\YCBZ_V2.Center.DataProcess"/>

        <add key="v2Root_c"  value="D:\project\jiupai\YCBZ_V2\src\YCIOT_V2\YCBZ_V2.Center\YCBZ_V2.Center.Service"/>

        <add key="web_c"  value="D:\project\jiupai\YCBZ_V2\src\YCBZ_V2\YCBZ_V2.Center"/>


        <!-- 系统主数据 -->
        <add key="SYS.DbType" value="MySqlDb" />
        <add key="SYS.DbConnection" value="Server=rm-2ze5f4464d3agjr48fo.mysql.rds.aliyuncs.com;User Id=ycbz2020;Password=wtras$22@123!;Database=ycbz2020;Pooling=true;MinPoolSize=0;MaxPoolSize=200" />

        <add key="RedisCheckPeriod" value="500" />

        <!-- Redis 参数，Redis用于系统缓存、消息队列 -->
        <add key="Redis.System" value="{Client:Sys,Host:112.126.101.120,Port:6379,Password:ERe@3_rit!,Db:15,Timeout:1000}" />

        <!--WriterData配置的reids地址-->
        <add key="Redis.WriterData" value="redis://clientid:ERe@3_rit!@112.126.101.120:6379?db=1"/>

        <!--配置给油田公司推送的reids地址，密码不允许修改-->
        <add key="Redis.SyncPush" value="redis://clientid:ERe@3_rit!@10.30.2.77:6379?db=15"/>

        <!-- 服务器侦听地址和端口 -->
        <add key="WebAPI.WebHostUrl.Http" value="http://0.0.0.0:9000" />

        <!--<add key="TestRedis" value="redis://clientid:ERe@3_rit!@112.126.101.120:6379?db=15"/>-->
        <add key="TestRedis" value="redis://clientid:123456@127.0.0.1:6379?db=3"/>

        <add key="GroupName" value="SLS-03"/>

        <add key="IsUseAlwaysUp" value="true"/>




    </appSettings>
</configuration>