<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId"                value="YCIOT"/>

    <add key="WebApi.BaseUrl"       value="http://192.168.207.216"/>
    <add key="WebApi.ApiKey"        value="otqjne7P36zGhfcuf--CSYIeFxVC-XZl"/>

    <add key="Modbus.UserLinkId"    value="false"/>
    <add key="Modbus.GroupName"     value="SLS-03"/>
    <add key="Modbus.LocalIP"       value="127.0.0.1" />
    <add key="Modbus.TcpPort.One"   value="9504" />
    <add key="Modbus.TcpPort.Many"  value="504" />
    <add key="Modbus.Timeout"       value="3000" />
    <add key="Modbus.IsDebug"       value="true" />

    <add key="AppCMD" value="YCIOT.ModbusPoll.RtuOverTcp.exe"/>
    <add key="AppRunTime"           value="72,0,0"/>
    <add key="Modbus.IsUseStrictCheckMode" value="true" />

    <add key="JobList.Timeout"      value="900" />
    <add key="Redis.ModbusJobList"  value="{Client:Job,Host:112.126.101.120,Port:6379,Password:ERe@3_rit!,Db:14,Timeout:1000}"/>
  </appSettings>
</configuration>
