<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole"
          layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}"/>
		  
    <target name="file" xsi:type="File" fileName="${basedir}/NLogFile.txt"
            layout="${stacktrace} ${message}"/>
			
	<target name="udp" xsi:type="Network"
			address="udp://127.0.0.1:502" 
			newLine="false" maxMessageSize="65000" encoding="utf-8" 
			layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true}" />

	<target name="udp879" xsi:type="Network"
			address="udp://182.92.172.224:879" 
			newLine="false" maxMessageSize="65000" encoding="utf-8" 
			layout="${log4jxmlevent:includeCallSite=true:includeNLogData=true}" />
			
  </targets>

  <rules>
    <!-- add your logging rules here console sentinal, -->
    <logger name="*" minlevel="Info" writeTo="Console,file"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
  
  
</nlog>

